@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Montserrat:wght@300&family=Roboto+Mono:wght@300&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
header {
	overflow-x: hidden;
	padding-bottom: 7.5rem;
	position: relative;
	background: #ff416c; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
	background: linear-gradient(
		to right,
		#ff4b2b,
		#ff416c
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: url('../assets/wave-large.png') no-repeat center;
	background-size: cover;
	height: 200px;
}
header a {
	color: white;
	font-family: 'Montserrat', cursive;
}
header .navbar .nav-item:last-child {
	padding-right: 8rem;
}
header .navbar .nav-item {
	padding: 0.6rem;
	font-size: 0.9rem;
}
header .navbar-brand {
	padding-left: 5rem;
}
header .navbar-brand:hover {
	color: rgba(0, 0, 0, 0.9) !important;
}
header .nav-link:hover {
	color: rgba(0, 0, 0, 0.9) !important;
}
.row .col-md-5 img {
	width: 100%;
	height: auto;
	margin: 7rem auto;
}
.row .col-md-7 {
	font-family: 'Montserrat', sans-serif;
	padding: 8rem 2rem;
	color: white;
}
.row .col-md-7 h6 {
	letter-spacing: 0.3em;
	margin: 1rem;
}
.row .col-md-7 h1 {
	font-size: 2.5rem;
	text-transform: uppercase;
	font-weight: bold;
	margin: 1.5rem auto;
}
.row .col-md-7 p {
	line-height: 1.7;
	text-transform: lowercase;
	margin: 1rem auto;
}

.row .col-md-7 a.btn {
	border-radius: 50px;
	background: transparent;
	margin: 1rem auto;
	color: white;
	border: 1px solid #efefef;
}
.row .col-md-7 a.btn:hover {
	background: white;
	color: black;
}
.section-1 {
	padding: 10rem 0;
}
.section-1 .row .col-md-6:last-child .panel {
	padding: 6rem 3.5rem;
	position: absolute;
	border-radius: 3px;
	top: 6rem;
	width: 100%;
	left: -10rem;
	background-color: white;
}
.section-1 .row .col-md-6:last-child {
	position: relative;
	text-align: left;
}
.section-1 .row .col-md-6 .pray img {
	width: 90%;
	margin-bottom: 1rem;
	opacity: 0.8;
	border-radius: 0.2em;
}
.section-1 .row .col-md-6:last-child h1 {
	font-family: 'Montserrat', sans-serif;
	padding: 2rem 0;
	font-weight: bold;
	font-size: 2rem;
}
.section-1 .row .col-md-6:last-child p {
	color: rgba(0, 0, 0, 0.5);
	line-height: 1.65;
	font-size: 0.9rem;
	font-family: 'Montserrat', sans-serif;
}
footer {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 4rem 1rem;
}

footer p {
	color: whitesmoke;
	font-size: 0.9rem;
	text-transform: capitalize;
}
.ico {
	font-size: 1.3rem;
}
.ico i {
	margin: 0 0.1.3rem;
}
.ico i:hover {
	color: #ff416c;
	transform: scale(1.2);
}
.slideanim {
	visibility: hidden;
}
.slide {
	/* The name of the animation */
	animation-name: slide;
	-webkit-animation-name: slide;
	/* The duration of the animation */
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	/* Make the element visible */
	visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

.cover {
	background: url('../assets/marvin-meyer-SYTO3xs06fU-unsplash.jpg') center
		no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 30rem;
	position: relative;
}
.content {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	padding-top: 7rem;
}
.content h1 {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-size: 2rem;
}
.content p {
	font-size: 0.9em;
	color: #fff;
}
.section-2 .container .row .card img {
	width: 100%;
	height: 100%;
}
.section-2 .container {
	margin-top: -12rem;
	padding-bottom: 3rem;
}
.section-2 .container .row .card {
	border: none;
	margin: 1rem auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 1s;
}
.section-2 .container .row .card:hover {
	box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.2);
}
.section-2 .container .row .card .card-body h4 {
	padding: 1rem auto;
}
.section-2 .container .row .card p {
	color: rgba(0, 0, 0, 0.6);
	text-transform: lowercase;
	font-size: 0.9rem;
	padding: 1rem;
}
/* .section-2 .container .row .card .card-link {
	color: rgba(0, 0, 0, 0.8) !important;
	padding: 0.5rem 1rem;
	border-radius: 30px;
	border: 1px solid rgba(0, 0, 0, 0.8);
} */
.section-3 {
	padding: 6rem 0;
	margin: 5rem 0;
}
.section-3 h1 {
	font-size: 2rem;
}
.section-3 p {
	font-size: 0.9rem;
	overflow-x: hidden;
	padding: 1rem;
}
.section-3 i {
	color: #ff416c;
}
.section-3 .submit {
	color: white;
	background-color: #ff416c;
	border: none;
	transition: 0.7s;
	margin: 1rem 0;
}
.section-3 .submit:hover {
	background-color: #ff416c;
	color: white;
}
.section-3 form .form-control {
	padding: 1rem;
}
.section-3 form label {
	font-size: 0.8rem;
	padding: 0.5rem 0;
}
